html {
  font: 100%/1 Georgia;
}

body {
  font-size: 125%;
  background-color: #E0FFFF;
  max-width: 48em;
  padding: 0 1rem;
  margin: 1rem auto;
}

p {
  font: 1.05em/1 Georgia;
  line-height: 2em;
}
h1 {
  font-size: 5em;
  font-family: "Dela Gothic One";
  text-align: center;
  
}

li {
font: 1.05em/1 Georgia;
}

@media (min-width: 48em) {
 ul.topnav li.right;
 ul.topnav li {float: none}
 body {
 font-size: 100%;
  }
  
  nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center; 
    gap: 1rem;
  }

}
  ul.topnav {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
    overflow: hidden;
    background-color: #FFCCE5;
  }
    
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #e6e6fa;}

ul.topnav li a.active {background-color: #e6e6fa;}

ul.topnav li.right {float: right;}
  
  nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1em 1em;
  }
  
  a:link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  }
  
  a:visited {
    color: #000;
  }
  
  a:hover {
    background-color: #e6e6fa;
  }
  
  a:active {
    color: #000;
  }
  
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
width: auto;
max-width: 50%;
height: auto;
}
