html {
  font: 100%/1 Georgia;
}

body {
  font-size: 125%;
  background-color: #E0FFFF;
  max-width: 48em;
  padding: 0 1rem;
  margin: 1rem auto;
}

p {
  font: 1.05em/1 Georgia;
  line-height: 2em;
}
h1 {
  font-size: 7em;
  text-align: center;
  
}
/**/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99994d;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #f5f5f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #7a7a52;}

ul.topnav li a.active {background-color: #99994d;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
  
/**/
  a:link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  }
  
  a:visited {
    color: #000;
  }
  
  a:hover {
    background-color: #e6e6fa;
  }
  
  a:active {
    color: #000;
  }
  
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
width: auto;
max-width: 50%;
height: auto;
}

li {
font: 1.05em/1 Georgia;
}
