html {
  font: 100%/1 Georgia;
}

body {
  font-size: 125%
  font-color: #F5DABA;
  background-color: #E0FFFF;
  max-width: 48em;
  padding: 0 1rem;
  margin: 1rem auto;
}

p {
  font: 1.05em/1 Georgia;
  font-color: #F5DABA
}
h3 {
  font-size: 1em
  font-color: #F5DABA
  font-family: "Dela Gothic One"
}

@media (min-width: 48em) {
  body {
    font-size: 100%;
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
    
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #7a7a52;}

ul.topnav li a.active {background-color: #99994d;}

ul.topnav li.right {float: right;}
  
  nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 0 1em;
  }
  
  a:link {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  }
  
  a:visited {
    color: #000;
  }
  
  a:hover {
    background-color: #e6e6fa;
  }
  
  a:active {
    color: #000;
  }
  
  
